@{
    ViewData["Title"] = "Reset password";
    ViewData["Tab"] = "home";
}

<div class="body">
    <div class="signIn">
        <div class="signIn__left">
            <img src="/img/signin.jpg" alt="sign in picture" />
        </div>
        <div class="signIn__right">
            <h3>RESET PASSWORD</h3>
            @if (ViewBag.Message != null)
            {
                <p style="color: blue;">@ViewBag.Message</p>
            }
            <form method="post">
                <input type="hidden" name="email" id="email" value="@ViewData["email"]" required />
                <label for="password">New password</label>
                <input type="password" name="password" id="password" required/>

                <button type="submit">SAVE PASSWORD</button>
                <a href="signIn"> SIGN IN</a>
                <span> || </span>
                <a href="signUp"> SIGN UP</a>
            </form>
        </div>
    </div>
</div>
