@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.search__icon {
    height: 25px;
    cursor: pointer;
    width: 25px;
    background-color: transparent;
    border: none;
}

.main__top {
    padding: 40px 330px;
}

.main__top__path > a,
.main__top__path > span {
    color: rgb(63, 62, 62);
    font-size: 110%;
}
.main__shop #state,
.main__shop #role {
    outline: 1px solid #ced4da;
}

.main__shop .shop-detail {
    font-family: "Poppins", sans-serif;
    background: rgba(240, 239, 239, 0.938);
    padding: 30px;
    border-radius: 10px;
}

    .main__shop .shop-detail button {
        background-color: rgb(124, 18, 129);
    }

.main__shop .save-shop {
    text-align: center;
    padding: 30px 0px 30px;
}

    .main__shop .save-shop button {
        text-transform: uppercase;
        height: 50px;
        width: 200px;
        background-color: black;
        font-size: 18px;
    }

.shop__features {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
}

.shop__features__left,
.shop__features__right {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 0px 10px;
    border-radius: 7px;
}

.shop__features__search input {
    border: none;
    font-size: 20px;
    color: gray;
    padding: 4px 10px 4px 20px;
    width: 250px;
    height: 50px;
}

    .shop__features__search input:focus-visible {
        outline-width: 0;
    }

.shop__features__sort {
    width: 150px;
    padding-left: 15px;
}

.table td, .table th {
    vertical-align: middle;
}

td img {
    display: block;
    width: 50px;
    height: 50px;
}

.shop__products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .shop__products a {
        color: black !important;
    }

.product {
    margin: 10px;
    cursor: pointer;
}

    .product:hover span {
        background-color: #f08632;
        color: white;
        transition: all, 0.3s;
    }

.product__img {
    position: relative;
}

.product span {
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 15px;
    background-color: #ffffff;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
}

.product__info {
    margin-top: 35px;
}

    .product__info h5 {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
    }
