@{
    ViewData["Title"] = "Cart";
    ViewData["Tab"] = "home";
}

@section Css
{
    <link rel="stylesheet" href="~/css/orders.css" />
}

@section Scripts
{
    <script src="~/js/cart.js" asp-append-version="true"></script>
}

<main>
    <section class="main__top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <div class="title__thin">
                        <h1><b>Shopping cart</b></h1>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="main__top__path">
                        <a href="/"><span>Home</span></a>
                        <span>|</span>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main__shopping-cart">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <table id="product__cart__container" style="width: 100%">
                        </table>
                    </div>
                    <div class="row justify-content-between shopping-choice">
                        <div class="col-4">
                            <div class="shopping-choice__continue">
                                <button type="button" class="btn btn-outline-secondary" onclick="location.href='shop'">
                                    CONTINUE SHOPPING
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cart-total">
                        <h5><b>CART TOTAL</b></h5>
                        <ul>
                            <li>Total <span id="cart__total"></span></li>
                        </ul>
                        <button class="btn btn-secondary" type="submit" style="width:100%;" onclick="location.href='checkout'">PROCEED TO CHECKOUT</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
