@{
    ViewData["Title"] = "About";
    ViewData["Tab"] = "about";
}

<section class="about">
    <div class="about__text">
        <h3 class="section__title">About cart of things</h3>
        <h1 class="title__thin">Things you need, we have all</h1>
        <p>
            The "cart of things" is an e-commerce platform that started as a small family business. The owners are William Tyler, supported by a staff of thoudsands of employees.
        </p>
    </div>
    <div class="about__img">
        <img src="/img/about-img.jpg" alt="about-img" width="450px"/>
    </div>
</section>

<section class="testimonial">
    <h3 class="section__title">testimonial</h3>
    <h2 class="title__thin">Our customer say</h2>
    <div class="testimonial__customer">
        <div class="testimonial__box">
            <div class="testimonial__customer__info">
                <img src="/img/customer1.jpg" alt=""/>
                <div>
                    <h4>Shang Fang</h4>
                    <span>Shenzhen</span>
                </div>
            </div>
            <div class="testimonial__message">
                <p>
                    "Good produtcs and shipping service."
                </p>
            </div>
        </div>
        <div class="testimonial__box ">
            <div class="testimonial__customer__info">
                <img src="/img/customer2.jpg" alt=""/>
                <div>
                    <h4>Sarah Tol</h4>
                    <span>Chicago</span>
                </div>
            </div>
            <div class="testimonial__message">
                <p>
                    "How awesome is this website. I love it."
                </p>
            </div>
        </div>
        <div class="testimonial__box">
            <div class="testimonial__customer__info">
                <img src="/img/customer3.jpg" alt=""/>
                <div>
                    <h4>Thomas Jr.</h4>
                    <span>Los Angeles</span>
                </div>
            </div>
            <div class="testimonial__message">
                <p>
                    "Cannot be better than this website."
                </p>
            </div>
        </div>
    </div>
</section>

@* <section class="team"> *@
@*     <div class="team__header"> *@
@*         <div class="team__header__top"> *@
@*             <h3 class="section__title">OUR TEAM</h3> *@
@*             <h4>JOIN US</h4> *@
@*         </div> *@
@*         <h1 class="title__thin">Sweet Baker</h1> *@
@*     </div> *@
@*     <div class="team__img"> *@
@*         <div class="team__info"> *@
@* *@
@*             <img src="/img/team-1.jpg" alt="team 1"/> *@
@*             <div class="team__info__text"> *@
@*                 <h3>Randy Butler</h3> *@
@*                 <span>Decorater</span> *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <div class="team__info"> *@
@*             <img src="/img/team-2.jpg" alt=""/> *@
@*             <div class="team__info__text"> *@
@*                 <h3>Jesica Branky</h3> *@
@*                 <span>Decorater</span> *@
@*             </div> *@
@*         </div> *@
@*         <div class="team__info"> *@
@*             <img src="/img/team-3.jpg" alt=""/> *@
@*             <div class="team__info__text"> *@
@*                 <h3>Alan Paker</h3> *@
@*                 <span>Decorater</span> *@
@*             </div> *@
@*         </div> *@
@*         <div class="team__info"> *@
@*             <img src="/img/team-4.jpg" alt=""/> *@
@*             <div class="team__info__text"> *@
@*                 <h3>Willy Sharan</h3> *@
@*                 <span>Decorater</span> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </section> *@