@{
    ViewData["Title"] = "Checkout successfully";
    ViewData["Tab"] = "home";
}

@section Scripts {
    <script src="~/js/checkoutSuccess.js" asp-append-version="true"></script>
}

<div class="body">
    @ViewBag.Message
</div>