.add-user {
  text-align: center;
  padding: 0px 0px 40px;
}

.add-user > button {
  height: 60px;
  width: 350px;
  font-size: 20px;
}

.user__options__edit,
.user__options__remove,
.user__options__block {
  cursor: pointer;
  margin-bottom: 8px;
}

.user__options__edit > span,
.user__options__remove > span,
.user__options__block > span {
  color: rgb(250, 105, 8);
  font-weight: 500;
  font-size: 15px;
}