<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - staff</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Css", required: false)
</head>
<body>
    <header>
        <div class="header__top">
            <div class="header__top__left">
            </div>
            <div class="header__top__mid">
                <img src="~/img/logo.png" alt="logo" />
            </div>
            <div class="header__top__right">
                <% if (user) { %>
                <a href="/signOut">Sign out</a>
                <a href="/view"><%= user.name %></a>
                <% } %>
            </div>
        </div>
        <% if (user) { %>
        <div class="header__bottom">
            <a href="/cakes" <% if (which == 'product') { %> class="active" <% } %>><div>Products List</div></a>
            <a href="/users" <% if (which == 'user') { %> class="active" <% } %>><div>Users List</div></a>
            <a href="/statistics" <% if (which == 'statistics') { %> class="active" <% } %>><div>Statistics</div></a>
        </div>
        <% } %>
    </header>

    @RenderBody()
    <footer style="background-image: url(~/img/footer-bg.jpg)">
        <div class="footer__top">
            <div class="footer__top__left">
                <h4>Working hours</h4>
                <span>Monday - Friday: 08:00 am - 08:30 pm</span>
                <span>Saturday: 10:00 am - 16:30 pm</span>
                <span>Sunday: 10:00 am - 16:30 pm</span>
            </div>
            <div class="footer__top__mid">
                <img src="~/img/footer-logo.png" alt="footer-logo" />
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
                    quasi excepturi obcaecati nobis deserunt. In maxime veritatis vero
                </p>
            </div>
            <div class="footer__top__right">
                <h4>Subscribe</h4>
                <p>Get latest updates and offers</p>
                <input type="text" placeholder="Email" />
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom__left">
                <span>
                    Copyright ©2021 All rights reserved | This template is made with by
                    Colorlib
                </span>
            </div>
            <div class="footer__bottom__right">
                <span>Privacy Policy</span>
                <span>Terms & Conditions</span>
                <span>Site Map</span>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src='~/js/queryParam.js' type="text/javascript"></script>
</body>
</html>
